body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #557c55; /* Verde suave, remetendo ao campo */
    color: white;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin-bottom: 5px;
}

nav {
    background-color: #556B2F; /* Verde mais escuro, também do campo */
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-block;
}

nav li {
    display: inline;
    margin: 0 15px;
}

nav a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
}

.principal {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.principal img {
    max-width: 100%;
    height: auto;
    margin-top: 15px;
    border-radius: 4px;
}

.conteudo {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.conteudo h2 {
    color: #4682B4; /* Azul, representando a cidade e a inovação */
    border-bottom: 2px solid #4682B4;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

.galeria-imagens {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

.galeria-imagens img {
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: sticky;
    bottom: 0;
    width: 100%;
}